.App {
    text-align: center;
    background-color: indianred;
    color: gainsboro;
    width: 600px;
    padding-top: 20px;
}

button {
    padding: 10px;
    font-size: larger;
    color: gray;
}

p {
    margin: 20px;
    padding-bottom: 20px;
}
